api/JoggingApp.Core/obj/JoggingApp.Core.csproj.nuget.dgspec.json
api/JoggingApp.Core/obj/JoggingApp.Core.csproj.nuget.g.props
api/JoggingApp.Core/obj/JoggingApp.Core.csproj.nuget.g.targets
api/JoggingApp.Core/obj/project.assets.json
api/JoggingApp.Core/obj/project.nuget.cache
api/JoggingApp.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
api/JoggingApp.Core/obj/Debug/net6.0/JoggingApp.Core.AssemblyInfo.cs
api/JoggingApp.Core/obj/Debug/net6.0/JoggingApp.Core.AssemblyInfoInputs.cache
api/JoggingApp.Core/obj/Debug/net6.0/JoggingApp.Core.assets.cache
api/JoggingApp.Core/obj/Debug/net6.0/JoggingApp.Core.csproj.AssemblyReference.cache
api/JoggingApp.Core/obj/Debug/net6.0/JoggingApp.Core.GeneratedMSBuildEditorConfig.editorconfig
api/JoggingApp.Core/obj/Debug/net6.0/JoggingApp.Core.GlobalUsings.g.cs
api/JoggingApp.EntityFramework/obj/JoggingApp.EntityFramework.csproj.nuget.dgspec.json
api/JoggingApp.EntityFramework/obj/JoggingApp.EntityFramework.csproj.nuget.g.props
api/JoggingApp.EntityFramework/obj/JoggingApp.EntityFramework.csproj.nuget.g.targets
api/JoggingApp.EntityFramework/obj/project.assets.json
api/JoggingApp.EntityFramework/obj/project.nuget.cache
api/JoggingApp.EntityFramework/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
api/JoggingApp.EntityFramework/obj/Debug/net6.0/JoggingApp.EntityFramework.AssemblyInfo.cs
api/JoggingApp.EntityFramework/obj/Debug/net6.0/JoggingApp.EntityFramework.AssemblyInfoInputs.cache
api/JoggingApp.EntityFramework/obj/Debug/net6.0/JoggingApp.EntityFramework.assets.cache
api/JoggingApp.EntityFramework/obj/Debug/net6.0/JoggingApp.EntityFramework.csproj.AssemblyReference.cache
api/JoggingApp.EntityFramework/obj/Debug/net6.0/JoggingApp.EntityFramework.GeneratedMSBuildEditorConfig.editorconfig
api/JoggingApp.EntityFramework/obj/Debug/net6.0/JoggingApp.EntityFramework.GlobalUsings.g.cs
api/JoggingApp.Tests/obj/JoggingApp.Tests.csproj.nuget.dgspec.json
api/JoggingApp.Tests/obj/JoggingApp.Tests.csproj.nuget.g.props
api/JoggingApp.Tests/obj/JoggingApp.Tests.csproj.nuget.g.targets
api/JoggingApp.Tests/obj/project.assets.json
api/JoggingApp.Tests/obj/project.nuget.cache
api/JoggingApp.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
api/JoggingApp.Tests/obj/Debug/net6.0/JoggingApp.Tests.AssemblyInfo.cs
api/JoggingApp.Tests/obj/Debug/net6.0/JoggingApp.Tests.AssemblyInfoInputs.cache
api/JoggingApp.Tests/obj/Debug/net6.0/JoggingApp.Tests.assets.cache
api/JoggingApp.Tests/obj/Debug/net6.0/JoggingApp.Tests.csproj.AssemblyReference.cache
api/JoggingApp.Tests/obj/Debug/net6.0/JoggingApp.Tests.GeneratedMSBuildEditorConfig.editorconfig
api/JoggingApp.Tests/obj/Debug/net6.0/JoggingApp.Tests.GlobalUsings.g.cs
api/JoggingApp/obj/JoggingApp.csproj.nuget.dgspec.json
api/JoggingApp/obj/JoggingApp.csproj.nuget.g.props
api/JoggingApp/obj/JoggingApp.csproj.nuget.g.targets
api/JoggingApp/obj/project.assets.json
api/JoggingApp/obj/project.nuget.cache
api/JoggingApp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
api/JoggingApp/obj/Debug/net6.0/JoggingApp.AssemblyInfo.cs
api/JoggingApp/obj/Debug/net6.0/JoggingApp.AssemblyInfoInputs.cache
api/JoggingApp/obj/Debug/net6.0/JoggingApp.assets.cache
api/JoggingApp/obj/Debug/net6.0/JoggingApp.csproj.AssemblyReference.cache
api/JoggingApp/obj/Debug/net6.0/JoggingApp.GeneratedMSBuildEditorConfig.editorconfig
*.suo
*.json
*.dll
*.pdb
*.cache
*.txt
*.CopyComplete
*.exe
*.sentinel
*.config
*.v2
spa/.angular/cache/14.1.0/angular-webpack/720ded7890f8528e2638aecc0f94ee65c62cdf94/0.pack
spa/.angular/cache/14.1.0/angular-webpack/720ded7890f8528e2638aecc0f94ee65c62cdf94/1.pack
spa/.angular/cache/14.1.0/angular-webpack/720ded7890f8528e2638aecc0f94ee65c62cdf94/2.pack
spa/.angular/cache/14.1.0/angular-webpack/720ded7890f8528e2638aecc0f94ee65c62cdf94/3.pack
spa/.angular/cache/14.1.0/angular-webpack/720ded7890f8528e2638aecc0f94ee65c62cdf94/4.pack
spa/.angular/cache/14.1.0/angular-webpack/720ded7890f8528e2638aecc0f94ee65c62cdf94/index.pack
spa/.angular/cache/14.1.0/angular-webpack/720ded7890f8528e2638aecc0f94ee65c62cdf94/index.pack.old
spa/.angular/cache/14.1.0/angular-webpack/720ded7890f8528e2638aecc0f94ee65c62cdf94/5.pack
spa/.angular/cache/14.1.0/angular-webpack/720ded7890f8528e2638aecc0f94ee65c62cdf94/6.pack
spa/.angular/cache/14.1.0/angular-webpack/720ded7890f8528e2638aecc0f94ee65c62cdf94/7.pack
spa/.vscode/launch.json
api/.vs/JoggingApp/v17/TestStore/0/002.testlog
