<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation email</title>
</head>
<body style="width: 100%; font-family: Helvetica, Sans-Serif; font-size: 16px; padding: 0; margin: 0; background: #fafafc; color: #3E3F42;">
    <table width="580px" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto">
        <tbody>
            <tr><td style="padding-top: 48px;padding-bottom: 32px;"><img height="46px" src="https://download.dotmetrics.net/Assets/img-dotmetrrics-logo@2x.png" alt="Dotmetrics - an Ipsos product"></td></tr>
            <tr>
                <td>
                    <table width="580px">
                        <tr>
                            <td width="33px"></td>
                            <td>
                                <table>
                                    <tr>
                                        <td style="padding-top:9px; padding-bottom:9px; border-top: 1px solid #EAEDF3;border-bottom: 1px solid #EAEDF3;">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td>
                                                        <img height="64px" src="https://download.dotmetrics.net/Assets/img-ipsos-iris@2x.png" alt="Ipsos iris - The UK industry standard for online audience measurement">
                                                    </td>
                                                    <td style="text-align: right">
                                                        <img height="42px" src="https://download.dotmetrics.net/Assets/logo-ukom-dark@2x.png" alt="UKOM logo">
                                                        <img height="40px" style="margin-left: 32px" src="https://download.dotmetrics.net/Assets/logo-ipsos@2x.png" alt="Ipsos logo">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h1 style="font-size: 24px; color: #202124; font-weight: bold; line-height: 150%; margin-top: 64px; margin-bottom: 24px;">Hi, there!</h1></td>
                                    </tr>
                                    <tr>
                                        <td><p style="line-height:150%; margin: 0;">You've successfully been registered for an Ipsos iris account. To finish registration for your account click the button below.</p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 32px;padding-bottom: 32px;"><a href="@($"{Model.TemporaryLink}")" style="background: #3554BA; color: #ffffff; padding: 16px; width: 494px; display: inline-block; text-align: center; border-radius: 4px; text-decoration: none; font-weight: bold;">Click here to activate your account</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="line-height:150%; margin: 0;">
                                                Happy to have you on board!
                                                <br><b>Ipsos iris team</b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 48px;">
                                            <p style="line-height:150%; margin: 0;">
                                                If you did not request an Ipsos iris account please ignore this email. To access the Ipsos iris Reporting Interface, please go to the following <a style="color: #0068ED;" href="@($"{Model.LogInLink}")">page</a>.
                                            </p>
                                            <p style="line-height:150%; margin: 0;">
                                                If you have any questions please reach out to <a style="color: #0068ED;" href="mailto:support@ipsosiris.com">support@ipsosiris.com</a>.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 80px;padding-bottom: 64px;">
                                            <p style="font-size: 13px; line-height: 150%; color: #646569;">
                                                This e-mail is confidential. If you received this communication by mistake, please don't forward it to anyone else, please erase all copies and attachments, and please let us know that it has gone to the wrong person.
                                                <br><br>
                                                If you would like to opt out of receiving further communications please click <a style="color: #0068ED;" href="https://www.dotmetrics.net/privacy-center">here</a>.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-top: 1px solid #EAEDF3;">
                                            <p style="margin:0; padding-top:16px; padding-bottom:16px; font-size: 12px; color: #9EA0A5;">© 2016 – 2021 Ipsos All Rights Reserved</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>